a {
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

* {
  font-family: 'Noto Sans';
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.section {
  display: flex;
  padding: 56px 100px 100px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}

.darker {
  color: white;
  background-color: #212121;
}

@media (max-width: 1150px) {
  .section {
    padding: 56px 20px 100px 20px;
    align-items: center;
  }
   h2, p {
    text-align: center;
   }
}

